@mixin justify-center {
    display: flex;
    justify-content: center;
}

@mixin align-center {
    display: flex;
    align-items: center;
}

@mixin full-heart {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient($primary-color, $secondary-color);
}

@mixin dish-lag {
    animation-name: lag;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}