* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0px;
}

* {
  font-family: "Roboto", sans-serif;
}

.menu__title {
  font-family: "Shrikhand", cursive;
}

* {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000000;
}

.searchform__area {
  font-weight: 500;
}

.searchform__title {
  font-weight: 700;
  font-size: 1.5rem;
}

.searchform__subtitle {
  font-weight: 300;
  font-size: 1.125rem;
}

button {
  color: #FFFFFF;
  font-weight: 500;
}

.steps__title, .restaurants__title {
  font-weight: 700;
  font-size: 1.5rem;
}

.steps__circle {
  color: #F6F6F6;
}

.steps__storeicon {
  color: #9356DC;
}

.steps__subtitle {
  font-weight: 500;
}

.restaurants__newtag {
  color: #008766;
  font-size: 0.825rem;
  font-weight: 500;
}

.restaurants__cardtitle {
  font-weight: 700;
  font-size: 1.125rem;
}

.restaurants__cardsubtitle {
  font-size: 1.0625rem;
  font-weight: 300;
}

.menu__title {
  font-weight: 400;
  font-style: italic;
  font-size: 1.75rem;
}

.menu__subtitle {
  font-weight: 300;
  text-transform: uppercase;
}

.menu__dishtitle {
  font-weight: 500;
  font-size: 1.125rem;
  color: #000000;
}

.menu__dishsubtitle {
  font-weight: 300;
  font-size: 0.9375rem;
  color: #000000;
}

.menu__price {
  font-weight: 700;
  font-size: 0.9375rem;
  color: #000000;
}

.menu__button {
  color: #FFFFFF;
  font-weight: 500;
}

.footer__iconlink {
  font-weight: 500;
  color: #FFFFFF;
}

.footer__link {
  font-weight: 400;
  color: #FFFFFF;
}

/* menu animation */
.menu__favorite input[type=checkbox]:checked ~ .menu__fullheart {
  transition: opacity 1s;
}
.menu__favorite input[type=checkbox]:checked ~ .menu__emptyheart {
  transition: opacity 0.8s;
}

/* restaurants animation */
.restaurants__favorite input[type=checkbox]:checked ~ .restaurants__fullheart {
  transition: opacity 1s;
}
.restaurants__favorite input[type=checkbox]:checked ~ .restaurants__emptyheart {
  transition: opacity 0.8s;
}

/* container animation */
.container {
  animation: containerdisplay 3s;
}

@keyframes containerdisplay {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* loader animation */
.loader {
  animation: loaderdisplay 3s;
}

@keyframes loaderdisplay {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* loader bar animation */
.loader__bar {
  animation: beat 1.5s infinite;
}

.loader__bar:nth-child(1) {
  background-color: #f476da;
  animation-delay: 0.1s;
}

.loader__bar:nth-child(2) {
  background-color: #e972da;
  animation-delay: 0.2s;
}

.loader__bar:nth-child(3) {
  background-color: #df6fdb;
  animation-delay: 0.3s;
}

.loader__bar:nth-child(4) {
  background-color: #d46bdb;
  animation-delay: 0.4s;
}

.loader__bar:nth-child(5) {
  background-color: #c968db;
  animation-delay: 0.5s;
}

.loader__bar:nth-child(6) {
  background-color: #be64db;
  animation-delay: 0.6s;
}

.loader__bar:nth-child(7) {
  background-color: #b361db;
  animation-delay: 0.7s;
}

.loader__bar:nth-child(8) {
  background-color: #a95ddc;
  animation-delay: 0.8s;
}

.loader__bar:nth-child(9) {
  background-color: #9e5adc;
  animation-delay: 0.9s;
}

.loader__bar:nth-child(10) {
  background-color: #9356dc;
  animation-delay: 1s;
}

@keyframes beat {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.25);
    opacity: 0;
  }
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.loader__barcontainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.loader__bar {
  width: 10px;
  height: 80px;
  opacity: 0;
}
.loader__description {
  font-weight: bold;
  font-size: 30px;
}

.header {
  padding: 15px 0px;
  display: flex;
  justify-content: center;
}
.header__logo {
  width: 162px;
  height: 44px;
}
.header__arrow {
  position: absolute;
  left: 23px;
  top: 24px;
}

.searchform__section1 {
  height: 50px;
  background-color: #EAEAEA;
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchform__area {
  max-width: 110px;
  border: none;
  background-color: #EAEAEA;
  text-align: center;
}
.searchform__section2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 30px 30px;
  gap: 30px;
  text-align: center;
}
.searchform__title {
  padding-bottom: 10px;
  padding-inline: 40px;
}
.searchform__button {
  width: 218px;
}

.steps {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 20px;
  background-color: #FFFFFF;
}
.steps__cards {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.steps__card {
  display: flex;
  align-items: center;
  width: 322.49px;
  height: 72.38px;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-top: 25px;
  gap: 25px;
}
.steps__circle {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  right: 10px;
  background: #9356DC;
}

.restaurants {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 60px 20px;
  background-color: #F6F6F6;
}
.restaurants__link {
  height: 251px;
}
.restaurants__card {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 20px;
}
.restaurants__img {
  position: relative;
}
.restaurants__picture {
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants__newtag {
  width: 80px;
  height: 29px;
  position: absolute;
  top: 13px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background: #99E2D0;
}
.restaurants__cardcontent {
  padding: 10px;
  position: relative;
}
.restaurants__emptyheart, .restaurants__fullheart {
  position: absolute;
  right: 25px;
  bottom: 33px;
  font-size: larger;
}
.restaurants__fullheart {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
  opacity: 0;
}
.restaurants__favorite input[type=checkbox] {
  display: none;
}
.restaurants__favorite input[type=checkbox]:checked ~ .restaurants__fullheart {
  opacity: 1;
}
.restaurants__favorite input[type=checkbox]:checked ~ .restaurants__emptyheart {
  opacity: 0;
}

.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 25px;
  color: #FFFFFF;
}
.footer__img {
  width: 138px;
  height: 27px;
  filter: invert(99%) sepia(99%) saturate(0%) hue-rotate(101deg) brightness(112%) contrast(101%);
}
.footer__list {
  margin-top: 7px;
}
.footer__ustensilsicon {
  margin-right: 10px;
}
.footer__handshakeicon {
  margin-right: 4px;
}

.menu {
  background-color: #F7F7F7;
}
.menu__card {
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  padding-top: 35px;
  padding-inline: 10px;
  position: relative;
  bottom: 50px;
  background-color: #F7F7F7;
}
.menu__picture {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu__section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__favorite {
  position: relative;
  display: flex;
  align-items: center;
}
.menu__emptyheart, .menu__fullheart {
  position: absolute;
  right: 41px;
  font-size: x-large;
}
.menu__fullheart {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
  opacity: 0;
}
.menu__favorite input[type=checkbox] {
  display: none;
}
.menu__favorite input[type=checkbox]:checked ~ .menu__fullheart {
  opacity: 1;
}
.menu__favorite input[type=checkbox]:checked ~ .menu__emptyheart {
  opacity: 0;
}
.menu__subtitle {
  margin-top: 40px;
}
.menu__line {
  width: 40px;
  margin-top: 8px;
  border: 2px solid #99E2D0;
}
.menu__link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 15px;
  margin-top: 12px;
  height: 69px;
  background-color: #FFFFFF;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
}
.menu__dishdescription {
  display: flex;
  justify-content: space-between;
}
.menu__buttonsection {
  display: flex;
  justify-content: center;
}
.menu__button {
  margin-top: 40px;
  width: 186px;
}

.searchform__button, .menu__button {
  height: 50px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.searchform__button:hover, .menu__button:hover {
  background: linear-gradient(193.33deg, #a978e3 -11.44%, #ffa2e5 123.93%);
  box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.25);
}/*# sourceMappingURL=main.css.map */