.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    &__barcontainer{
        @include justify-center;
        gap: 10px;
    }
    &__bar {
        width: 10px;
        height: 80px;
        opacity: 0;
    }
}