.searchform {
    &__section1 {
        height: 50px;
        background-color: #EAEAEA;
        gap: 15px;
        @include justify-center;
        align-items: center;
    }

    &__area {
        max-width: 110px;
        border: none;
        background-color: #EAEAEA;
    }

    &__section2 {
        display: flex;
        flex-direction: column;
        background-color: #F6F6F6;
        padding: 30px 30px;
        gap: 30px;
        text-align: center;
    }

    &__title {
        padding-bottom: 10px;
        padding-inline: 40px;
    }

    &__buttonsection {
        @include justify-center;
    }

    &__button {
        width: 218px;
    }
}