button:hover {
    @include lighter-background;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.25);
}

.restaurants__fullheart, .menu__fullheart {
    opacity: 0;
    transition-property: all;
    transition-duration: 1s;
}

.restaurants__fullheart:hover, .menu__fullheart:hover {
    opacity: 1;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient($primary-color, $secondary-color);
}