* {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #000000;
}

.searchform__title {
    font-weight: 700;
    font-size: 1.5rem;
}

.searchform__subtitle {
    font-weight: 300;
    font-size: 1.125rem;
}

button {
    color: #FFFFFF;
    font-weight: 500;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

.steps__subtitle {
    font-weight: 500;
}

.restaurants__cardsubtitle {
    font-size: 1.0625rem;
    font-weight: 300;
}