* {
    font-size: 16px;
}
/* anchor typography */
a {
    text-decoration: none;
    color: #000000;
}
/* searchform typography */
.searchform {
    &__area {
        font-weight: 500;
    }
    &__title {
        font-weight: 700;
        font-size: 1.5rem;
    }
    &__subtitle {
        font-weight: 300;
        font-size: 1.125rem;
    }
}
/* button typography */
.btn {
    color: #FFFFFF;
    font-weight: 500;
}
/* steps typography */
.steps {
    &__title {
        font-weight: 700;
        font-size: 1.5rem;
    }
    &__circle {
        color: #F6F6F6;
    }
    &__storeicon {
        color: $primary-color;
    }
    &__subtitle {
        font-weight: 500;
    }
}
/* restaurants typography */
.restaurants {
    &__title {
        font-weight: 700;
        font-size: 1.5rem;
    }
    &__newtag {
        color: #008766;
        font-size: 0.825rem;
        font-weight: 500;
    }
    &__cardtitle {
        font-weight: 700;
        font-size: 1.125rem;
    }
    &__cardsubtitle {
        font-size: 1.0625rem;
        font-weight: 300;
    }
}
/* menu typography */
.menu {
    &__title {
        font-weight: 400;
        font-size: 1.75rem;
    }
    &__subtitle {
        font-weight: 300;
        text-transform: uppercase;
    }
    &__dishtitle {
        font-weight: 500;
        font-size: 1.125rem;
        color: #000000;
    }
    &__dishsubtitle {
        font-weight: 300;
        font-size: 0.9375rem;
        color: #000000;
    }
    &__price {
        font-weight: 700;
        font-size: 0.9375rem;
        color: #000000;
    }
    &__tick {
        color: #FFFFFF;
        font-size: x-large;
    }
}
/* footer typography */
.footer {
    &__iconlink {
        font-weight: 500;
        color: #FFFFFF;
    }
    &__link {
        font-weight: 400;
        color: #FFFFFF;
    }
}
/* loader typography */
.loader__description {
    font-weight: bold;
    font-size: 30px;
}