* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --tertiary-color: #99E2D0;
}

html {
    font-size: 16px;
}

.main-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    padding: 0px 13.5px;
    font-weight: 700;
    font-size: 1.5rem;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

h3 {
    font-weight: 700;
    font-size: 1.125rem;
}

h4 {
    margin-bottom: 15px;
    font-family: Shrikhand;
    font-size: 1.125rem;
    font-style: italic;
    font-weight: 400;
}

a {
    text-decoration: none;  
}



/****** Header ***********/

header {
    padding: 15px 0px;;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 162px;
    height: 44px;
}

/****** Search Form ***********/

.search-bar {
    background-color:#EAEAEA;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.search-area {
    border: none;
    background-color:#EAEAEA;
    font-weight:500;
    text-align: center;
    max-width: 100px;
}

.search-form-title-and-button {
    background-color:#F6F6F6;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 30px;
    gap: 30px;
}

.search-form-title p {
    padding-top: 30px;
    font-weight: 300;
    font-size: 1.125rem;
}

.search-button button {
    height: 50px;
    width: 218px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-weight: 500;
}

/****** Steps ***********/

.steps {
    background-color:#FFFFFF;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.steps-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-card {
    display: flex;
    align-items: center;
    width: 322.49px;
    height: 72.38px;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-top: 25px;
    gap: 25px;
}

.step-card p {
    font-weight:500;
}

.step-circle {
    position: relative;
    right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: var(--primary-color);
    color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fa-store {
    color: var(--primary-color);
}

/****** Restaurants ***********/

.restaurants {
    background-color:#F6F6F6;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.restaurants a {
    color: #000000;
}

.restaurant-card-link {
    height: 251px;
}

.restaurant-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-top: 20px;
    position: relative;
}

.restaurant-card img {
    width: 100%;
    height: 174px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.new {
    display: flex;
    justify-content: flex-end;
}

.new-tag {
    position: relative;
    bottom: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #008766;
    width: 80px;
    height: 29px;
    background: var(--tertiary-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

.card-content {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-content p {
    font-size: 1.0625rem;
    font-weight: 300;
}

.fa-heart {
    position: absolute;
    right: 25px;
    bottom: 33px;
}


.full {
    opacity: 0;
    transition-property: all;
    transition-duration: 1s;
}

.full:hover {
    opacity: 1;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(#9356DC, #FF79DA);
}

/****** footer ***********/

.footer {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    padding: 25px;
    color: #FFFFFF;
}

.footer li {
    margin-top: 7px;
    font-weight: 500;
}

.footer i {
    margin-right: 10px;
}

.footer a {
    color: #FFFFFF;
}

ul {
    list-style: none;
    padding-left: 0px;
}

/****** Menu Header ***********/

header {
    padding: 15px 0px;;
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-back {
    position: absolute;
    left: 23px;
    top: 24px;
}

header img {
    width: 162px;
    height: 44px;
}

/****** Menu Img ***********/

.restaurant-img {
    height: 275px;
}

.restaurant-img img {
    width: 100%;
    object-fit: cover;
}

/****** Restaurant Menu ***********/

.restaurant-menu{
    background-color: #F7F7F7;
}

.restaurant-menu-card {
    position: relative;
    bottom: 60px;
    padding: 40px 20px 0 40px;
    background-color: #F7F7F7;
    border-radius: 40px 40px 0px 0px;
}

.restaurant-menu-card h3 {
    font-family: Shrikhand;
    font-size: 1.75rem;
    font-style: italic;
    font-weight: 400;
}

.menu-title {
    margin-top: 40px;
    font-weight: 300;
    text-transform: uppercase;
}

.line{
    width: 40px;
    margin-top: 8px;
    border: 2px solid #99E2D0;
}

.menu-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    margin-top: 12px;
    height: 69px;
    background-color: #FFFFFF;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
}

.dish-name {
    font-weight: 500;
    font-size: 1.125rem;
    color: #000000;
}

.dish-name-description {
    display: flex;
    justify-content: space-between;
    color: #000000;
}

.dish-name-subtitle {
    font-weight: 300;
    font-size: 0.9375rem;
}

.price {
    font-weight: 700;
    font-size: 0.9375rem;
}

.green-label {
    display: none;
    position: absolute;
    right: 0;
    height: 69px;
    width: 59px;
    background-color: #99E2D0;
    border-radius: 0px 15px 15px 0px;
}

.fa-circle-check {
    display: flex;
    justify-content: center;
    margin-top: 22px;
    font-size: x-large;
    color: #FFFFFF;
}



.menu-button {
    display: flex;
    justify-content: center;
}

.menu-button button {
    margin-top: 40px;
    height: 50px;
    width: 186px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    color: #FFFFFF;
    font-weight: 500;
}

button:hover {
    opacity: 0.8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
}

.progress-bar {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 50%;
    height: 20px;
    animation-name: barre;
    animation-duration: 3s;
    transform-origin: 0%;
}

@keyframes barre {
    0% { transform: scaleX(0);opacity: 1;background: #9356DC;}
    99.99% { opacity: 1;}
    100% { transform: scaleX(1); opacity: 0;background: #FF79DA;}
}



.main-container{
    animation-name: affichage;
    animation-duration: 3s;
}

@keyframes affichage {
    0% { opacity: 0; }
    99.99% { opacity: 0; }
    100% { opacity: 1; }
}

.entrees {
    animation-name: decalage;
    animation-duration: 1500ms;
    animation-fill-mode: both;
    animation-delay: 3000ms;
}
.plats {
    animation-name: decalage;
    animation-duration: 1500ms;
    animation-fill-mode: both;
    animation-delay: 3500ms;
}
.desserts {
    animation-name: decalage;
    animation-duration: 1500ms;
    animation-fill-mode: both;
    animation-delay: 3750ms;
}

@keyframes decalage {
    0% { transform: translateX(-200%);}
    100% { transform: translateX(0px);}
}













